/*====INDEX====*/

body.body_index,
body.body_aboutus {
    background-color: black;

}

body {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header {
    padding: 2px;
}

.header-top,
.header-middle,
.image-group,
.events {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2px;
    width: 80%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
}

.left-section {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.home-page {
    font-size: 20pt;
    margin-right: 10px;
}

* {
    box-sizing: border-box;
}

.box {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 17pt;
    border: 1.5px solid #068FFF;
    border-radius: 5px;
}

.company-name {
    font-size: 20pt;
    text-align: right;
    white-space: nowrap;
}

/* Logo and Company Info Styles */
.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 95%;
    margin: 0 auto;
}

.logo {
    width: 25%;
    min-width: 100px;

}

.company-info {
    flex-grow: 1;
    padding: 5px 5px 5px 5px;
    text-align: center;
    max-width: 20%;
    margin-right: 15%;
}

.company-title {
    font-size: 30pt;
}

.slogan {
    font-size: 15pt;
    font-style: italic;
    margin-top: 5%;
}

/* Image Group Styles */
.image-group {
    width: 35%;
    justify-content: flex-end;
    display: flex;
    gap: 55px;
}

.intro {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.iroda,
.tech,
.office {
    width: 100%;
    max-width: 170px;
    border-radius: 5px;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-bottom: 20px;
    font-size: 15pt;
}

nav li {
    margin-right: 10px;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    color: white;
}

nav li#current a {
    background-color: #068FFF;
    border-radius: 3px;
}

nav a:hover,
nav li#current a:hover {
    color: #ffffff;
    background-color: #001866;
    border-radius: 3px;
}

/* Main Content Styles */
.containermain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.events {
    flex-wrap: nowrap;
    justify-content: center;
}

.plakatmain {
    width: 300px;
    margin: 20px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

footer p {
    text-align: center;
}

.titlemain {
    flex-basis: 100%;
    text-align: center;
}

hr {
    border-color: #068FFF;
    width: 99%
}

.plakatmain {
    transition: opacity 0.5s ease;
}

.plakatmain:hover {
    opacity: 0.5;
}

/*====ABOUT US====*/

.containermain #about_us {
    padding: 0px;
}

.container_aboutus {
    background-color: transparent;
    padding: 50px;
}

.title_aboutus {
    text-align: center;
}

.content_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.text,
.image_container {
    flex: 1;
    margin: 10px;

}

.image_container img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    font-size: 14pt;
    padding: 5px;
    background-color: black;
}

.galleria {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: auto;
}

.galleria img {
    max-width: 100%;
    height: auto;
}

/*====SERVICES====*/

.bodyall {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    scroll-behavior: smooth;
    position: relative;
    z-index: 1;
}

.header_top_services {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
    background-color: transparent;
    z-index: 2;
}

.bodyall,
.serviceshtml {
    height: 100%;
    margin: 0;
    width: 100%;
    padding: 0;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.content {
    display: flex;
    width: 100%;
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
}

.typewriter-box {

    display: inline-block;
    width: 50%;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

#typewriter-text-services {
    font-size: 60px;
}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.typewriter-box label {
    display: block;
    margin-top: 20px;
    color: aquamarine;
}

footer.servicesfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-left a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.footer-left a:hover {
    text-decoration: underline;
}

.footer-right p {
    margin: 0;
}

.welcome_text {
    width: 50%;
    text-align: justify;
    font-size: 20px;
}

.container_contactus {
    margin-top: 25%;
    width: 100%;
    justify-content: center;
}

.services_text {
    text-align: justify;
    padding: 10%;
    font-size: 20px;
}

.menu-container {
    display: flex;
    align-items: center;
}

#menu-icon {
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
    z-index: 101;
    margin-left: 4%;
}

#menu-bar {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    padding-left: 5px;

}

#menu-bar.menu-visible {
    opacity: 1;
    visibility: visible;
}

#menu-bar a {
    padding: 10px 10px 0px 10px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

#menu-bar a:hover {
    color: black;
}


/*====CONTACT US====*/

body.contactbody {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    scroll-behavior: smooth;
    position: relative;
    height: auto;
    margin: 0;
    overflow: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.contactbody,
.contacthtml {
    height: 100%;
    margin: 0;
    width: 100%;
}

.content_contactus {
    padding-top: 60px;
    padding-bottom: 90px;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: left;
}

.typewriter-box-contact {
    background-color: rgba(95, 104, 151, 0.8);
    padding: 20px;
    border-radius: 10px;
    border: 0.3px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 50%;
    max-width: 95%;
    overflow: hidden;
    word-wrap: break-word;
    margin: auto;

}

.typewriter-box-contact form,
.typewriter-box-contact form>* {
    width: 100%;
}

.typewriter-box-contact form input,
.typewriter-box-contact form select,
.typewriter-box-contact form button {
    margin-top: 10px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}


.typewriter-box-contact label {
    display: block;
    margin-top: 20px;
    color: aquamarine;
}

.typewriter-box-contact input[type="email"],
.typewriter-box-contact input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color: transparent;
    border: 0.5px solid white;
    color: white;
    border-radius: 5px;
}

.typewriter-box-contact button {
    display: flex;
    margin-top: 20px;
    padding: 10px 10px;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    border: 0.5px solid white;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.typewriter-box-contact button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.typewriter-box-contact select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: transparent;
    border: 0.5px solid white;
    color: white;
    border-radius: 5px;
}

.contact-form {
    display: none;
}

.slider {
    width: 70%;
    height: 2px;
    border-radius: 0.5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

#budget-value {
    margin-top: 10px;
    font-size: 14px;
}

.typewriter-box-contact input[type="date"] {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color: transparent;
    border: 0.5px solid white;
    color: white;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
}

.typewriter-box-contact input[type="date"]::-webkit-inner-spin-button,
.typewriter-box input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.typewriter-box-contact input[type="date"]:focus {
    outline: none;
    border-color: #068FFF;
}

.typewriter-box-contact input[type="radio"] {
    margin-top: 10px;
}

.typewriter-box-contact label {
    display: block;
    margin-top: 20px;
    color: aquamarine;
}

.typewriter-box-contact input[type="tel"] {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color: transparent;
    border: 0.5px solid white;
    color: white;
    border-radius: 5px;
}

.typewriter-box-contact .checkbox-option {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.typewriter-box-contact input[type="checkbox"] {
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.typewriter-box-contact label {
    color: aquamarine;
}



/*====MEDIA QUERIES====*/

@media (min-width: 300px) {}

@media (max-width: 480px) {
    #typewriter-text-services {
        font-size: 40px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        white-space: nowrap;
        overflow: hidden;
    }

    .typewriter-box {
        text-align: center;

    }

    .header_top_services,
    .footer-left,
    .footer-right {
        flex-direction: column;
        text-align: center;
    }

    .footer-right,
    .footer-left a {
        margin-top: 10px;
    }

    .content {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .typewriter-box-contact {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .typewriter-box-contact input[type="email"],
    .typewriter-box-contact input[type="text"],
    .typewriter-box-contact select {
        width: 70%;
    }

    .typewriter-box-contact button {
        width: 50%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .footer-right {
        display: none;
    }

    .header_top_services,
    .footer-left,
    .footer-right {
        flex-direction: column;
        text-align: center;
    }
}



@media screen and (max-width: 599px) {
    .header-top {
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
        margin: 0 0
    }

    .left-section,
    .company-name {
        text-align: center;
        margin-bottom: 5px;
    }

    .home-page,
    .company-name {
        font-size: 14pt;
    }

    .box {
        margin-top: 3px;
    }

    .header-middle {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 5px 0;
    }

    .logo {
        width: 70%;
        max-width: 120px;
        margin-bottom: 10px;
    }

    .company-info {
        padding: 0 5px;
        max-width: 100%;
        margin-bottom: 5px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-right: 0;
    }

    .company-title,
    .slogan {
        font-size: 16pt;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .image-group {
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
    }

    .iroda,
    .tech,
    .office {
        max-width: 110px;
        margin: 4px auto;
    }

    .intro {
        font-size: 12pt;
        padding: 0 5px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin: 10px auto;
    }

    nav li {
        margin-bottom: 5px;
    }

    .events {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .plakatmain {
        width: 80%;
        margin: 10px auto;
    }

    .content_flex#item1 {
        flex-direction: column;
    }

    .content_flex#item2 {
        flex-direction: column-reverse;
    }

    .content_flex#item3 {
        flex-direction: column;
    }

    .content_flex#item4 {
        flex-direction: column-reverse;
    }

    .content_flex#item5 {
        flex-direction: column;
    }
}

@media (min-width: 600px) {
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 0 auto;
        padding: 10px 0;
    }

    .company-name {
        margin-left: auto;
        font-size: 20pt;
        text-align: center;
        white-space: nowrap;
    }


    .left-section {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    .home-page {
        font-size: 16pt;
    }

    .box {
        margin-top: 5px;
    }

    .header-middle {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        width: 80%;
        max-width: 150px;
        margin-bottom: 10px;
    }

    .company-info {
        max-width: 100%;
        margin: 0;
        padding: 0 10px;
    }

    .company-title,
    .slogan {
        font-size: 18pt;
    }

    .image-group {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 10px;
    }

    .iroda,
    .tech,
    .office {
        max-width: 120px;
        margin: 5px;
    }

    .intro {
        margin-top: 10px;
        padding: 0 10px;
        font-size: 14pt;
    }

    .containermain {
        padding: 10px;
        align-items: center;
    }

    .events {
        flex-direction: column;
        align-items: center;
    }

    .plakatmain {
        width: 100%;
        margin: 10px 0;
    }

    footer p {
        text-align: center;
        font-size: 14pt;
        padding: 5px;
    }
}

@media (max-width: 768px) {

    .typewriter-box,
    .welcome_text,
    .services_text {
        width: 90%;
        margin: 0 auto;
    }

    #typewriter-text-services {
        font-size: 40px;
    }

    .menu-container {
        flex-direction: column;
        align-items: flex-start;
    }

    #menu-icon {
        font-size: 25px;
    }

    #menu-bar {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #menu-bar a {
        display: block;
        margin-bottom: 10px;
    }

    .container_contactus {
        margin-top: 10%;
    }

    .footer-right {
        display: none;
    }

    .typewriter-box-contact {
        width: 80%;

    }

    .typewriter-box-contact button {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .company-name {
        text-align: right;
        white-space: nowrap;
    }

    .left-section {
        text-align: left;
    }

    .header-middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 95%;
        margin: 0 auto;
    }

    .logo {
        flex: 1;
    }

    .company-info {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }

    .image-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        width: 80%;
        gap: 0;
    }

    .iroda,
    .tech,
    .office {
        flex: 0 0 auto;
        max-width: 170px;
        margin: 0 10px;
    }

    .intro {
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }

    nav li {
        margin-right: 10px;
    }

    .events {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 95%;
        gap: 30px;
    }

}